
.trainers{
  margin-left:  12em;
  display: inline-grid;
grid-template-columns: auto auto auto auto auto auto auto  ; }


#trainerListing{
    margin: 2em;
    padding: 1em;
    background-color: #f7f0f2;
}
#trainerListing a {
  color: red;
}
