@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.main{
  margin-top: 6rem;
}
.main h1 {
  font-family: 'Spartan', sans-serif;
  font-weight:normal;
  text-align: center;
  color: #A54265;
  font-size: 3em;
}